* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

html,
body {
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.btn-container {
  display: flex;
  margin-bottom: 54px;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
}

.change-grid-btn {
  background-color: white;
  padding: 16px 32px;
}

.change-grid-btn:hover {
  background-color: rgb(241, 241, 241);
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  background-color: white;
  flex-basis: 960px;
  height: 960px;
}

.gridChild {
  background-color: rgb(234, 234, 234);
  border: 1px solid black;
}

h1 {
  margin-bottom: 40px;
  flex-basis: 100%;
}

footer {
  margin-top: 40px;
  flex-basis: 100%;
  text-align: center;
}
